@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,500');

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #2ea1ff;
}

/* Left */

.left {
  float: left;
  width: 50%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 70px;

  margin: 0 auto;
  display: block;
}

.qrcode {
  margin: 0 auto;
  margin-top: 60px;
  width: 120px;
  display: block;
}

a {
  background-color: #82b440;
  border-bottom: 2px solid #6f9a37;
  height: 40px;
  width: 210px;
  display: block;
  margin: 0px auto;
  text-decoration: none;
  line-height: 40px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  margin-top: 60px;
}

a:active {
  border-bottom: 1px solid #6f9a37;
  margin-top: 46px;
}

a > img {
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

/* Device */

.right {
  float: right;
  width: 45%;
  padding: 30px 0;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  z-index: 2;
}

.marvel-device {
  pointer-events: none;
}

iframe {
  pointer-events: auto;
}
